<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
    <style>
        body{
            background: antiquewhite;

            text-align: center;
        }

        table{
            margin: 0 auto;
            width: 80%;
        }

        th,td{
            border: 1px solid black;
            padding: 8px;
        }

    </style>

</head>
<body>

<table>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Info</th>
    </tr>

    <tr th:each="product : ${products}">

        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.info}"></td>

    </tr>

</table>

</body>
</html>